@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@400;500;700&display=swap");

:root {
    --primary: #242b58;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
}
html,
body {
    height: 100%;
    width: 100%;
    background-color: #f7f7f7;
}

#root {
    position: relative;
    height: 100%;
    width: 100%;
}

.main {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.step1 {
    min-width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    .top {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        img {
            padding-top: 20px;
            width: 80%;
        }
        p {
            font-weight: 500;
            font-size: 22px;
            color: var(--primary);
        }
    }
    .maskot {
        img {
            width: 220px;
        }
    }
    .bottom {
        .button1 {
            background-color: #7c62e3;
            width: 190px;
            height: 51px;
            color: #fff;
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 20px;
            border-radius: 3px;
        }
    }
}
.step2 {
    min-width: 100%;
    min-height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    .top {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 10px;
        Link {
            width: 24px;
            height: 24px;
        }
        .icon {
            width: 24px;
            height: 24px;
            left: 20px;
            position: absolute;
            top: 20px;
        }
        img {
            width: 60%;
        }
    }
    .text1 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        color: var(--primary);
        h2 {
            font-size: 24px;
        }
        p {
            font-weight: 400;
        }
    }
    .form {
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 100%;
        .button1 {
            margin-top: 20px;
            background-color: #7c62e3;
            width: 100%;
            height: 51px;
            color: #fff;
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 20px;
            border-radius: 3px;
        }
        .inputs {
            width: 100%;
            display: flex;
            align-items: center;
            .icon {
                width: 60px;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 60px;
                border-radius: 3px 0 0 3px;
                background-color: #fff;
                img {
                    width: 24px;
                    background-color: #fff;
                }
            }
        }
        input {
            width: 100%;
            height: 60px;
            border-radius: 0 3px 3px 0;
            font-size: 16px;
            padding: 19px 24px 19px 24px;
        }
    }
    .bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        h5 {
            font-size: 16px;
            color: #1e244d;
        }
        p {
            color: #787979;
            span {
                color: #ff4b81;
            }
        }
    }
}
.home {
    min-width: 100%;
    min-height: 100%;
    padding: 20px;
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 30px;
        img {
            width: 185px;
        }
        .icon {
            width: 24px;
        }
    }
    .greeting {
        color: #242b58;
        p {
            font-size: 18px;
            font-weight: 400;
        }
        h2 {
            font-size: 24px;
        }
    }
    .point {
        margin-top: 20px;
        background-color: #fff;
        height: 65px;
        border-radius: 15px;
        padding: 10px 20px 10px 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #242b58;
        .left-side-point {
            display: flex;
            align-items: center;
            gap: 5px;
        }
        .right-side-point {
            p {
                color: #787979 !important;
            }
            h3{
                display: flex;
                align-items: center;
                gap: 5px;
            }
        }
    }
    .analytic {
        margin-top: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            padding: 20px;
            background-color: #fff;
            .charts{
                padding-top: 15px;
                width: 100%;
                display: flex;
                align-items: flex-end;
                justify-content: space-between;

                .chart{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 5px;
                    p{
                        color: #9E9E9E;
                    }
                    .bar{
                        min-height: 50px;
                        width: 40px;
                        background-color: #E9F1FE;
                        border-radius: 15px;
                        &.active{
                            background-color: #FF4B81;
                        }
                    }
                }
            }
            .top{
                display: flex;
                align-items: center;
                justify-content: space-between;
                p{
                    font-size: 14px;
                }
                select{
                    width: 40%;
                    height: 50px;
                    border-radius: 15px;
                    font-size: 16px;
                    padding: 10px;
                    background-color: #F5F5F5;
                    color: #9E9E9E;
                }
            }
    }
    .promocodes {
        h2 {
            padding: 24px 24px 15px 0px;
            color: #242b58;
            font-size: 20px;
            span {
                color: #ff4b81;
            }
        }
        .codelist{
            display: flex;
            flex-direction: column;
            gap: 10px;
            img{
                width: 100%;
                padding-bottom: 5px;
            }
        }
        .ticket{
            background-color: #7C62E3;
            height: 193px;
            color: #fff;
            border-radius: 15px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 20px;
            hr{
                border: 0.5px solid #fff;
            }
            .top{
                display: flex;
                align-items: center;
                justify-content: space-between;
                .copy{
                    display: flex;
                    gap: 5px;
                }
                img{
                    width: 20px;
                }
            }
            .title{
                font-size: 16px;
                font-weight: 400;
            }
            .bottom{
                display: flex;
                align-items: center;
                justify-content: space-between;
                .usage{
                    font-size: 16px;
                }
                .expire{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    p{
                        font-size: 12px;
                        font-weight: 400;
                        text-align: right;
                    }
                    .date{
                        margin-top: 5px;
                        background-color: #fff;
                        padding: 5px;
                        color: #000;
                        width: 100%;
                        border-radius: 6px;
                        font-size: 12px;
                        text-align: center;
                    }
                }
            }
        }
    }
}
.navbar{
    height: 60px;
    background-color: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    a{
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #A4A19F;
        font-size: 12px;
        &.active{
            color: #7C62E3;
        }
        img{
            width: 24px;
            &.active{
                width: 24px;
                color: #7C62E3;
                
            }
        }
    }
}
.generator{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    h2{
        color: #242b58;
            font-size: 20px;
    }
    input{
        width: 100%;
        height: 60px;
        border-radius: 3px;
        font-size: 16px;
        padding: 19px 24px 19px 24px;
        background-color: #fff;
    }
    button{
        width: 100%;
        height: 51px;
        background-color: #7C62E3;
        color: #fff;
        font-size: 20px;
        font-weight: 600;
        border-radius: 3px;
    }
}